.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 90%;
    height: auto;
    border-radius: 20px;
    box-shadow: inset;
    background-color: blue;
}